*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    background-color: antiquewhite;
}
#bar{
    background-color: black;
    padding: 15px;
    top: 0px;
    position: sticky;
}
#bar a{
    padding: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;   
}
#bar a:hover{
    color: darkorange;
}
#home{
    /* width: 100%; */
    /* height: 100vh; */
    margin-bottom: 11pc;
}
#home img{
    margin-top: 8pc;
}
#me{
    width: 500px;
    border: 2px solid black;
    border-radius: 1pc;
    display: block;
    float: right;
    margin: 4pc;
    box-shadow: -4px -4px 10px black;
}
#contain{
    /* border: 2px solid black; */
    padding: 10pc 15pc;
    
}
#name{
    margin-bottom: 1pc;
    margin-top: 5pc;
    font-size: 3pc;
}
#desc{
    font-size: 2pc;
}
#resume{
    padding: 10px;
    background-color: darkgray;
    margin-top: 2pc;
    margin-left: 5pc;
    border-radius: 2pc;
    box-shadow: 2px 2px 5px black;
    font-size: medium;
}
#resume:hover{
    background-color: darksalmon;
}
#social{
    margin-left: 5pc;
    margin-top: 5pc;
}
#skill{
    /* border: 2px solid black; */
    /* margin-top: 3pc; */
    box-shadow: 0px -3px 10px black;
    padding: 3pc 7pc 0pc 3pc;
}
#skill h1{
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: 1px 1px 3px black;
    text-align: center;
    padding: 2pc;
}
#skill-contain{
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill-about{
    border: 2px solid black;
    padding: 3pc;
    margin: 3pc;
    text-align: center;
    background-color: orange;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
}
.skill-about:hover{
    background-color: rgb(252, 127, 82);
}
.skill-logo{
    margin-bottom: 10px;
}
.skill-name{
    font-size: larger;
    font-weight: bolder;
}
#education{
    box-shadow: 0px -3px 10px black;
    padding: 3pc;
    /* height: 90vh; */
}
#education h1{
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: 1px 1px 3px black;
    text-align: center;
    padding: 1pc;
    margin-top: 2pc;
}
#edu-contain{
    padding: 1pc;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.edu-about{
    background-color: orange;
    box-shadow: -2px -2px 5px black;
    border-radius: 5px;
    border: 2px solid black;
    padding: 1pc;
    margin: 1pc;
    text-align: center;
    width: 30pc;
}
.edu-about:hover{
    background-color: rgb(252, 127, 82);
}
.edu-about span{
    margin: 0pc 3pc;
    font-weight: 600;
}
.edu-about h2{
    font-weight: bolder;
}
#language{
    box-shadow: 0px -3px 10px black;
    padding: 3pc;
    /* height: 85vh; */
}
#language h1{
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: 1px 1px 3px black;
    text-align: center;
    padding: 2pc;
    margin-top: 1pc;
}
#lan-contain{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}
.lan-about{
    border: 2px solid black;
    width: 20pc;
    text-align: center;
    padding: 2pc;
    border-radius: 5px;
    background-color: orange;
    margin: 4pc;
    margin-bottom: 6pc;
    box-shadow: 2px 2px 5px black;
}
.lan-about:hover{
    background-color: rgb(252, 127, 82);
}
#project{
    box-shadow: 0px -3px 10px black;
    padding-top: 3pc;
}
#project h1{
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: 1px 1px 3px black;
    text-align: center;
    padding: 2pc;
}
#pro-contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2pc;
}
.pro-about{
    border: 2px solid black;
    width: 18pc;
    text-align: center;
    padding: 1pc;
    margin: 1pc;
    border-radius: 5px;
    background-color: orange;
    box-shadow: -2px -2px 5px black;

}
.pro-about:hover{
    background-color: rgb(252, 127, 82);
}
.pro-about h2{
    margin-bottom: 7px;
}
.pro-about img{
     border: 1px solid black;
     border-radius: 7px;
     box-shadow: -2px -2px 5px dimgray;
}
.pro-about img:hover{
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}
.pro-about button{
    background-color: lightcyan;
    padding: 8px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: -2px -2px 5px black;
}
.pro-about button:hover{
    background-color: darkcyan;
}
#contact{
    box-shadow: 0px -3px 10px black;
    padding-top: 3pc;
}
#contact h1{
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: 1px 1px 3px black;
    text-align: center;
    padding: 2pc;
}
#con-contain{
    padding: 3pc;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: left;
    padding-bottom: 22pc;
}
.con-about{
    padding: 1pc;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
@media only screen and (max-width: 480px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body {
        width: 480px;
        background-color: lightgray;
    }
    #bar{
        display: flex;
        align-items: center;
        width: 480px;
        height: 40px;
        padding: 0px;
        /* background-color: black; */
        top: 0px;
        position: sticky;
    }
    #bar a{
        padding: 0px;
        margin-left: 10px;
        /* color: white;
        text-decoration: none;
        text-transform: uppercase;*/
        text-align: center;  
    }
    #home{
        margin-bottom: 0pc;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #home img{
        margin-top: 4pc;
    }
    #me{
        width: 400px;
        /* border: 2px solid black; */
        border-radius: 1pc;
        /* margin: 0pc; */
        /* box-shadow: -4px -4px 10px black; */
    }
    #contain{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 2px solid black; */
        padding: 0px;    
    }
    #name{
        margin-bottom: 1pc;
        margin-top: 0pc;
        font-size: 2pc;
    }
    #desc{
        font-size: 2pc;
    }
    #resume{
        padding: 10px;
        background-color: dimgray;
        margin-top: 2pc;
        margin-left: 0pc;
        margin-bottom: 2pc;
        border-radius: 2pc;
        /* box-shadow: 2px 2px 5px black; */
        /* font-size: medium; */
    }
    #social{
        margin: 2pc 0pc;
        padding-bottom: 2pc;
    }
    #social a{
        margin: 2pc;
    }
    #skill{
        /* border: 2px solid black; */
        margin-top: 3pc;
        /* box-shadow: 0px -3px 10px black; */
        padding: 0pc;
        padding-top: 2pc;
    }
    /* #skill h1{
        text-transform: uppercase;
        font-size: xx-large;
        font-weight: bolder;
        text-shadow: 1px 1px 3px black;
        text-align: center;
        padding: 2pc;
    } */
    #skill-contain{
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .skill-about{
        /* border: 2px solid black; */
        padding: 2pc;
        margin: 2pc;
        /* text-align: center;
        background-color: orange;
        box-shadow: 2px 2px 10px black;
        border-radius: 10px; */
    }
    /* .skill-about:hover{
        background-color: rgb(252, 127, 82);
    } */
    /* .skill-logo{
        margin-bottom: 1pc;
    } */
    /* .skill-name{
        font-size: larger;
        font-weight: bolder;
    } */
    #education{
        /* box-shadow: 0px -3px 10px black; */
        padding: 2pc;
        /* height: 90vh; */
    }
    #education h1{
        /* text-transform: uppercase;
        font-size: xx-large;
        font-weight: bolder;
        text-shadow: 1px 1px 3px black;
        text-align: center; */
        padding: 2pc;
        margin-top: 0pc;
    }
    #edu-contain{
        padding: 1pc;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .edu-about{
        /* background-color: orange;
        box-shadow: -2px -2px 5px black;
        border-radius: 5px;
        border: 2px solid black; */
        padding: 1pc;
        margin-bottom: 2pc;
        /* text-align: center; */
        width: 85%;
    }
    /* .edu-about:hover{
        background-color: rgb(252, 127, 82);
    } */
    .edu-about span{
        margin: 0pc 3pc;
        /* font-weight: 600; */
    }
    /* .edu-about h2{
        font-weight: bolder;
    } */
    #language{
        /* box-shadow: 0px -3px 10px black; */
        padding: 1pc;
        /* height: 85vh; */
    }
    #language h1{
        /* text-transform: uppercase;
        font-size: xx-large;
        font-weight: bolder;
        text-shadow: 1px 1px 3px black;
        text-align: center; */
        padding: 2pc;
        margin-top: 1pc;
    }
    #lan-contain{
        display: flex;
        flex-wrap: wrap;
        /* align-items: center; */
        justify-content: center;
    }
    .lan-about{
        /* border: 2px solid black; */
        width: 50%;
        /* text-align: center; */
        padding: 2pc;
        /* border-radius: 5px;
        background-color: orange; */
        margin: 2pc;
        margin-bottom: 2pc;
        /* box-shadow: 2px 2px 5px black; */
    }
    /* .lan-about:hover{
        background-color: rgb(252, 127, 82);
    } */
    #project{
        /* box-shadow: 0px -3px 10px black; */
        padding-top: 2pc;
        padding-bottom: 2pc;
    }
    #project h1{
        /* text-transform: uppercase;
        font-size: xx-large;
        font-weight: bolder;
        text-shadow: 1px 1px 3px black;
        text-align: center; */
        padding: 2pc;
    }
    #pro-contain{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 0pc;
    }
    .pro-about{
        /* border: 2px solid black; */
        width: 70%;
        /* text-align: center; */
        padding: 1pc;
        margin: 1pc;
        /* border-radius: 5px;
        background-color: orange;
        box-shadow: -2px -2px 5px black; */
    
    }
    /* .pro-about:hover{
        background-color: rgb(252, 127, 82);
    } */
    .pro-about h2{
        margin-bottom: 10px;
    }
    /* .pro-about img{
         border: 1px solid black;
         border-radius: 7px;
         box-shadow: -2px -2px 5px dimgray;
    } */
    /* .pro-about img:hover{
        -ms-transform: scale(2);
        -webkit-transform: scale(2);
        transform: scale(2);
    } */
    .pro-about button{
        /* background-color: lightcyan; */
        padding: 8px;
        margin: 0pc 1pc;
        /* border-radius: 8px; */
        margin-top: 10px;
        /* box-shadow: -2px -2px 5px black; */
    }
    /* .pro-about button:hover{
        background-color: darkcyan;
    } */
    #contact{
        /* box-shadow: 0px -3px 10px black; */
        padding-top: 2pc;
    }
    #contact h1{
        /* text-transform: uppercase;
        font-size: xx-large;
        font-weight: bolder;
        text-shadow: 1px 1px 3px black;
        text-align: center; */
        padding: 2pc;
    }
    #con-contain{
        padding: 3pc;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: left;
        padding-bottom: 5pc;
    }
    .con-about{
        padding: 1pc;
        /* font-size: large;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder; */
    }
}